@media only screen and (max-width: 768px) {
  .main-content {
    width: 100%;
  }

  .apply-whole {
    width: 100%;
  }

  .head-card-cont {
    justify-content: center;
  }
}

@media only screen and (max-width: 500px) {
  main h1 {
    font-size: 3.5rem;
  }

  .ques-cont svg {
    min-width: 50px;
  }

  #themes .rules h3 {
    justify-content: space-between;
  }

  #themes .rules h3 svg {
    min-width: 50px;
  }
}
