@media only screen and (max-width: 1120px) {
  main .title h1 {
    font-size: 4rem;
  }

  main .title h3 {
    font-size: 2rem;
  }

  main .title p {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 768px) {
  section {
    flex-flow: column;
    padding: 1rem;
    gap: 1rem;
  }

  section .left {
    width: 100%;
    flex-direction: row;
    margin: 0;
    border-radius: 50px;
    padding: 1rem 1.5rem;
    gap: 1rem;
    align-items: center;
  }

  section .left p {
    transform: none;
    font-size: 1.5rem;
  }

  section .left span {
    font-size: 2rem;
  }

  section .right {
    width: 100%;
    border-radius: 20px;
  }

  .event-heading svg {
    display: none;
  }

  .events-title {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 512px) {
  main {
    padding-right: 0;
  }
  main .title {
    margin-left: 0;
    padding: 0 2rem;
    text-align: center;
  }

  main .title h1 {
    font-size: 2rem;
  }

  main .title h3 {
    font-size: 1.5rem;
  }

  main .title p {
    font-size: 1rem;
  }

  #vertical_nav {
    right: 20px;
  }
}
