main {
  position: relative;
  padding: 3rem 0;
  padding-top: 12rem;
  color: white;
  text-align: center;
}

main img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
  opacity: 0.4;
  filter: blur(5px);
}

main h1 {
  font-size: 4.5rem;
  line-height: 90%;
  color: rgba(255, 255, 255, 0.91);
}

main h3 {
  font-size: 2.5rem;
  color: rgba(255, 255, 255, 0.585);
  font-weight: normal;
}

.menu {
  margin: auto;
  margin-top: 2rem;
  background-color: #ff006f2a;
  width: fit-content;
  border-radius: 10px;
}

.menu button {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  background-color: transparent;
  border: 0;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.menu button.selected {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  background-color: #ff006f;
}

.hide {
  display: none;
  visibility: hidden;
  width: 0px;
  height: 0px;
}

.main-container {
  color: #fff;
}

.section {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}

.overview-main {
  width: 90%;
  display: flex;
  justify-content: center;
  column-gap: 24px;
}

.main-content {
  width: 60%;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.main-content img {
  width: 100%;
  border-radius: 20px;
}

.main-content p {
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0.12rem;
}

.apply-whole {
  width: 30%;
}

.apply-card {
  position: sticky;
  top: 6rem;
  background-color: rgb(28, 28, 28);
  padding: 32px;
  /* display: flex;
  flex-direction: column;
  row-gap: 2rem; */
  border-radius: 20px;
  border: 1px solid #ffffff26;
}

.apply-det {
  border-left: 4px solid #ff006f;
  padding-left: 10px;
  margin-bottom: 1rem;
}

.apply-card h3 {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.12rem;
  font-weight: 800;
  color: rgb(180, 190, 192);
  text-transform: uppercase;
  margin: 0px;
}

.apply-card h2 {
  font-size: 20px;
  font-weight: 800;
  line-height: 28px;
  margin: 4px 0px 0px;
}

.apply-count {
  background-color: #ff006f2a;
  padding: 16px;
  border-radius: 20px;
  gap: 8px;
  margin-top: 2.5rem;
}

.apply-btn {
  background-color: #ff006f;
  border-radius: 20px;
  text-align: center;
  margin-top: 1rem;
}

.apply-btn button {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: transparent;
  border: 0;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.faq-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.faq-heading h2 {
  font-size: 35px;
}

.faq-heading div {
  flex: 1;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.402);
}

.faq {
  background-color: black;
  padding: 32px;
  border-radius: 20px;
}

.faq-static {
  display: flex;
  gap: 1rem;
}

.faq-static div {
  flex: 1;
  padding: 1rem 2rem;
  border-radius: 10px;
  background-color: rgb(28, 28, 28);
  border: 1px solid #ffffff26;
}

.faq-static div h4 {
  font-size: 1.5rem;
}

.faq-static div p {
  font-size: 1.5rem;
  /* color: rgba(255, 255, 255, 0.518); */
  color: rgb(180, 190, 192);
}

.ques-cont {
  background-color: rgb(28, 28, 28);
  border: 1px solid #ffffff26;
  margin: 2rem 0px;
  /* padding: 1rem; */
  border-radius: 10px;
  user-select: none;
  box-shadow: 0px 0px 44px 0px #ffffff00;
  transition: 0.4s;
}

.ques-cont:hover {
  box-shadow: 0px 0px 44px 0px #ffffff2b;
}

.ques-cont.open:hover {
  box-shadow: 0px 0px 44px 0px #ffffff00;
}

.ques-cont h4 {
  font-size: 25px;
}

.ques {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.ques svg {
  height: 24px;
  width: 24px;
  transition: 0.2s ease-in-out;
}

.open .ques svg {
  transform: rotate(180deg);
}

.ques-cont p {
  --height: 0px;
  overflow: hidden;
  transition: 0.2s ease-in-out;
  display: block;
  max-height: 0;
  margin: 1rem;
  margin-top: 0;
  margin-bottom: 0;
  color: rgb(180, 190, 192);
}

.ques-cont.open p {
  margin-bottom: 1rem;
}
