html {
  scroll-behavior: smooth;
}

#vertical_nav {
  position: fixed;
  right: 40px;
  top: 60%;
  bottom: auto;
  transform: translateY(-50%);
  z-index: 1;
}

#vertical_nav ul li {
  text-align: right;
  margin-bottom: 1.5rem;
}

#vertical_nav ul li .container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  text-decoration: none;
}

li {
  list-style: none;
}
.dot {
  height: 15px;
  width: 15px;
  background-color: #ff006f;
  border-radius: 50%;
  display: inline-block;
}
.selected {
  background-color: #fff !important;
}

.label {
  position: relative;
  margin-right: 10px;
  padding: 0.4em 0.5em;
  color: white;
  font-size: 1rem;
  transition: transform 0.2s, opacity 0.2s;
  opacity: 0;
  transform-origin: 100% 50%;
  text-align: right;
  pointer-events: none;
}
.dot:hover {
  transform: scale(1.3);
}
a:hover + .label {
  opacity: 1;
  transform: scale(1.3);
  /* transition:0.25s ease-in-out; */
}

main {
  height: 100%;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

main .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  pointer-events: none;
}

main .bg img {
  width: 120%;
  height: 100%;
  transform: scaleX(-1);
  object-fit: cover;
  object-position: 0 74%;
  position: relative;
  z-index: -1;
}

main .bg::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000de;
  opacity: 0.7;
  z-index: -1;
  pointer-events: none;
}

main .title {
  color: white;
  margin-left: 8rem;
}

main .title h1 {
  font-family: "Montserrat Subrayada", sans-serif;
  font-size: 6rem;
  margin: 0.8rem 0;
}

main .title h3 {
  font-size: 3rem;
  font-weight: 500;
  opacity: 0.8;
}

main .title p strong {
  font-weight: 600;
}

main .title p {
  font-size: 1.8rem;
  opacity: 0.9;
}

.events-title {
  font-size: 3rem;
  color: white;
  padding: 1rem 3rem;
  border-bottom: 2px solid white;
}

section {
  color: white;
  display: flex;
  column-gap: 2rem;
  padding-top: 4rem;
  border-bottom: 2px solid white;
}

/* section:nth-child(even)
{
  display: flex;
  flex-direction: row-reverse;
} */

section:last-of-type {
  border-bottom: none;
}

section .left {
  width: 10%;
  display: flex;
  flex-direction: column;
  gap: 18rem;
  margin-left: 3rem;
  /* background-color: #ff006f; */
  /* background-color: #4a4a4a90; */
  background-color: rgb(28, 28, 28);
  border-radius: 12px;
  border: 1px solid #ffffff26;
  padding: 0rem;
  border-radius: 20px 20px 0px 0px;
  /* backdrop-filter: blur(10px) saturate(200%);
  padding: 1.2rem; */
}

section .left span {
  text-align: center;
  font-size: 5rem;
  font-style: italic;
  color: #ff006f;
}

section .left p {
  transform: rotate(-90deg);
  font-size: 2rem;
  color: #c4c4c4;
}

section .right {
  width: 78%;
}

section img {
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 20px 0 0 20px;
  transition: 0.5s;
}

section .event-heading {
  margin-top: 1.2rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-left: 0.5rem;
}

section .event-heading h2 {
  font-size: 3rem;
  font-style: italic;
}

section .event-heading svg {
  width: 2.8rem;
  height: 2.8rem;
}

section .desc {
  width: 700px;
  margin: 0.8rem 0;
  padding-left: 0.5rem;
  color: #ffffff8a;
}

section button {
  margin-top: 1rem;
  margin-right: 0.5rem;
  padding: 1rem 3rem;
  border-radius: 100px;
  border: 1px solid white;
  font-size: 1.3rem;
  color: white;
  background: transparent;
  cursor: pointer;
  margin-bottom: 3rem;
  transition: 0.2s ease-in-out;
}

section button:hover {
  background: #ff006f;
  border: 1px solid #ff006f;
}

.faq-heading {
  display: flex;
}
