.card-cont {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(3, auto);
  justify-content: center;
}

.card {
  text-align: center;
  color: white;
  /* background-color: rgb(28, 28, 28);
  border: 1px solid #ffffff26; */
  padding: 2rem;
  border-radius: 20px;
  width: fit-content;
}

.card h3 {
  color: rgba(255, 255, 255, 0.505);
}

.card img {
  width: 300px;
  height: 400px;
  margin-bottom: 0.5rem;
}
